<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light blue-grey lighten-5">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{ url_for('index') }}">app.charlieyang.me/<strong>aslr</strong></a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                {% for nav in navs %}
                    {% if nav[0] == nav_name %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for(nav[0]) }}">{{ nav[1] }}<span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for(nav[0]) }}">{{ nav[1] }}</a>
                        </li>
                    {% endif %}

                {% endfor%}

            </ul>
            <!-- Links -->

        </div>
        <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->

</header>
